@font-face {
    font-family: Noto;
    src: url(font/NotoSansJP-VariableFont_wght.ttf);
}

body { display: flex; }

section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    margin-top: 54px;
    border: none;
}

.surimg {
    text-align: center;
    position: absolute;
    width: 686px;
    height: 219.68px;
    top: 159.32px;
    left: 297px;
    background: var(--color-white);
    border-radius: 35px;
}

.surimg h3 {
    font-family: Noto;
    font-weight: 400;
    font-size: 24px;
    margin-top: 12px;
}

.surimg h4 {
    font-family: Noto;
    font-weight: 400;
    font-size: 18px;
    margin-top: 12px;
}

.essential {
    position: absolute;
    width: 686px;
    height: 325px;
    left: 297px;
    top: 54px;
    background: url("../asset/image/back-nary.jpg");
    filter: opacity(80%);
    border-radius: 35px;
}

.pp img {
    position: absolute;
    border-radius: 50%;
    width: 120.19px;
    height: 120.19px;
    left: 351.91px;
    top: 119.29px;
}

table {
    display: flex;
    justify-content: space-around;
    border-collapse: collapse;
    width: 100%;
}

table th { padding-left: 15px; }

table th, td {
    border-left: 2px solid var(--color-border);
    padding: 12px;
}

.first { border-left: none; }

.match { color: var(--color-active-text); border-left: none; font-size: 36px; }
.second { color: var(--color-active-text); font-size: 36px; }

.LRE {
    position: absolute;
    width: 462px;
    height: 219px;
    left: 409px;
    top: 435px;
    background-color: var(--color-white);
    border-radius: 35px;
}

.idk { margin-top: 52px; margin-bottom: 12px; }

select { background: none; border: none; }

.maitrise {
    position: absolute;
    left: 31px;
    width: 100px;
    border: 2px solid var(--color-active-text);
    border-radius: 2px;
    opacity: 50%;
}

.progression {
    position: absolute;
    left: 31px;
    width: 80px;
    border: 2px solid var(--color-active-text);
    border-radius: 2px;
}

.maitrise2 {
    position: absolute;
    left: 240px;
    width: 100px;
    border: 2px solid var(--color-active-text);
    border-radius: 2px;
    opacity: 50%;
}

.progression2 {
    position: absolute;
    left: 240px;
    width: 20px;
    border: 2px solid var(--color-active-text);
    border-radius: 2px;
}

.LREbutton {
    margin-left: 20px;
    margin-top: 5px;
    background-color: var(--color-tag-text);
    color: var(--color-white);
    border-radius: 30px;
    padding: 8px 20px;
    width: fit-content;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.LREbutton:hover { background-color: var(--color-dark); transform: scale(1.05); }
